body {
    background-image: url(images/fundo-de-mosaico-geometrico-de-cor-cinza-abstrato/3132-compressor.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#logo-dynamo {
    background-color: red;
}
.opacity {
    opacity: 0.9;
}

#main_image img {
    width: 100%
}

footer {
    background-color: #E80040;
}